{% extends "layout2.html" %}

{% block content %}
<div class="d-flex justify-content-center align-items-center">
    <div class="col-md-8 offset-md-2" style="margin-top: 150px;"> {# Adjust margin-top value to move the form up #}
        <!-- Form to add a new workout section -->
        <form method="POST" action="{{ url_for('createworkoutsections') }}" style="margin-bottom: 10px;">
            <fieldset class="form-group">
                <legend style="margin-left: 100px;">Create A Workout Section</legend>
                {{ form.hidden_tag() }}
                <div class="form-group" style="margin-left: 100px;">
                    {{ form.section_title.label }} <br>
                    {{ form.section_title(class="form-control rounded-2 bg-white", autocomplete="off")}}
                    {% for error in form.section_title.errors %}
                        <span class="error-message">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="other-form-group" style="margin-left:100px;">
                    {{ form.submit(class_="btn btn-primary") }}
                </div>
            </fieldset>
        </form>
</div>

</div>
</div>


{% endblock %}

