{% extends "layout2.html" %}

{% block content %}


<div class="container">
	<div>
		<div class="col-md-12 tex-center"> <h1> Sections List</h1> </div>
	</div>
</div>
	<table class="table">
		<thead>
			<th>ID</th>
			<th>Section Title</th>
			<th>Actions</th>
		</thead>
	        <tbody>
			{% for section in sections %}
			<tr>
				<td>{{ loop.index }}</td>
				<td> {{ section.section_title}}</td>
				<td>
					<span style="font-size: 24px; color:green;">
						<a href="/{{ section.section_title }}/edit"> <i class="fas fa-edit"></i></a> </span>
                                	<span style="font-size: 24px; color:red;">
                                                <a href="/{{ section.section_title }}/delete"> <i class="fas fa-trash-alt"></i></a> </span>
		                        <span style="font-size: 24px; color:yellow;">
                                                <a href="/{{ section.section_title }}/notes"> <i class="fas fa-sticky-note"></i></a> </span>

				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
</div>


{% endblock %}
