 {% extends "layout2.html" %}
 <!-- {% block body_class %}green-background{% endblock %} -->
    {% block content %}

    <div class="d-flex justify-content-center align-items-center">
        <div class="col-md-6 offset-md-3" style="margin-top: 100px;">
            <form name="login" action="" method="post" novalidate>
                <fieldset class="form-group">
                <legend>{{title}}</legend>
                {{ form.hidden_tag() }}

                <p>
                        {{ form.email.label }} <br>
                        {{ form.email(class="form-control rounded-2 bg-white")}}
                        {% for error in form.email.errors %}
                                <span class="error-message">{{ error }}</span>
                        {% endfor %}
                </p>

                <p>
                        {{ form.password.label }} <br>
                        {{ form.password(class="form-control rounded-2 bg-white") }}
                        {% for error in form.password.errors %}
                                <span class="error-message">{{ error }}</span>
                        {% endfor %}

                </p>

                <p>
                        {{ form.submit() }}
                </p>

            </form>
        </div>
    </div>
 {% endblock %}
