{% extends "layout2.html" %}

{% block content %}


<div class="container">
        <div>
                <div class="col-md-12 tex-center"> <h1>{{ section_title }}  Notes</h1> </div>
        </div>
</div>
        <table class="table">
                <thead>
                        <th>ID</th>
                        <th>Notes</th>
			<th>Last Updated On</th>
			<th>Created On</th>
                        <th>Actions</th>
                </thead>
                <tbody>
                        {% for note in notes %}
                        <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ note.note}}</td>
				<td>{{ note.updated_at}}</td>
				<td>{{ note.created_at}}</td> 
                                <td>
                                        <span style="font-size: 24px; color:green;">
                                                <a href="/{{ note.section_title }}/notes/edit/{{ note.id }}"> <i class="fas fa-edit"></i></a> </span>
                                        <span style="font-size: 24px; color:red;">
                                                <a href="/{{ note.section_title }}/notes/delete/{{ note.id }}"> <i  class="fas fa-trash-alt"></i></a></span>
                                </td>
                        </tr>
                        {% endfor %}
                </tbody>
        </table>
</div>
</div>

{% endblock %}
